@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=vietnamese&display=swap');

@font-face {
    font-family: "Lora Regular";
    src: url("fonts/Lora-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Lora Bold";
    src: url("fonts/Lora-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "FrancoisOne";
    src: url("fonts/FrancoisOne-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "FiraSansCondensed Bold";
    src: url("fonts/FiraSansCondensed-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "FiraSansCondensed Regular";
    src: url("fonts/FiraSansCondensed-Regular.ttf");
    font-display: swap;
}

$robotoCondesed: 'Roboto Condensed', sans-serif;
$loraRegukar: 'Lora Regular', sans-serif;
$loraBold: 'Lora Bold', sans-serif;
$francoisOne: 'FrancoisOne', sans-serif;
$firaSansCondensedBold: 'FiraSansCondensed Bold', sans-serif;
$firaSansCondensedRegular: 'FiraSansCondensed Regular', sans-serif;
$arial: Arial, Helvetica, sans-serif;