@font-face {
    font-family: "FiraSansCondensed Bold";
    src: url("fonts/FiraSansCondensed-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "FiraSansCondensed Regular";
    src: url("fonts/FiraSansCondensed-Regular.ttf");
    font-display: swap;
}

$firaSansCondensedBold: 'FiraSansCondensed Bold', sans-serif;
$firaSansCondensedRegular: 'FiraSansCondensed Regular', sans-serif;
$arial: Arial, Helvetica, sans-serif;