.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: $primaryColor2;
    z-index: 100;

    @media only screen and (max-width: 767.98px) {
        bottom: 48px;
        right: 12px;
    }

    i {
        position: relative;
        color: $white;
        font-size: 20px;
        display: block;
        text-align: center;
        width: 35px;
        top: 7px;
    }
}

.hotline {
    position: fixed;
    bottom: 80px;
    right: 10px;
    text-align: center;
    background-color: $white;
    color: $white;
    z-index: 100;
    font-family: $firaSansCondensedBold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px;
    font-weight: bold;
    border-radius: 30px;

    @media only screen and (max-width: 767.98px) {
        right: 10px;
        bottom: 100px;
    }

    .inner > a {
        display: inline-block;
        font-size: 21px;
        font-weight: 700;
        color: $primaryColor2;
        background: url(../../../images/icon-phone.png) no-repeat 17px center;
        background-size: 25px;
        position: relative;
        border: 1px solid $primaryColor2;
        border-radius: 40px;
        padding: 3px 19px 3px 50px;
        -webkit-background-clip: text;
        -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite;

        .phonering-alo-ph-img-circle {
            width: 25px;
            height: 25px;
            top: 9px;
            left: 16px;
            position: absolute;
            background: url(../../../images/icon-phone.png) no-repeat 0px center;
            -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            background-size: 25px;
        }
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform:rotate(0) scale(.5) skew(1deg);
        -webkit-opacity:.1
    }

    30% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        -webkit-opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        -webkit-opacity:.1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }

    100% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }
}

.giuseart-pc-contact-bar {
    right: 10px;
    bottom: 45%;
    position: fixed;
    z-index: 100;
    margin-bottom: 0;
    padding-left: 0;

    @media only screen and (max-width: 767.98px) {
        right: 10px;
    }

    li {
        width: 50px;
        height: 46px;
        overflow: hidden;
        margin-bottom: 0;
        list-style: none;
    }

    li a {
        display: block;
        width: 50px;
        height: 45px;
    }

    li.facebook {
        margin-bottom: 8px;
        background: url(../../../images/fb.png);
        background-size: 50px;
        background-repeat: no-repeat;
    }

    li.zalo {
        margin-bottom: 15px;
        background: url(../../../images/zl.png);
        background-position: 7px 5px;
        background-size: 38px;
        background-repeat: no-repeat;
    }

    li.nhan-bao-gia {
        background: url(../../../images/icon_dk_w.png);
        background-position: 7px 5px;
        background-size: 27px;
        background-repeat: no-repeat;
        background-color: $primaryColor2;
        border-radius: 5px;
        width: 38px;
        height: 38px;
        float: right;
        margin-right: 5px;
    }
}