@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 43.5%;
        display: block;
        width: 160px;
        text-align: center;
    }

    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

#nav {
    z-index: 10000;

    .nav-container {
        position: relative;

        &::before {
            content: "";
            background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMBAMAAABRpcpkAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMGAhQQCyEd++8AAAAUSURBVAjXY1AAQgMgdABCCBAAQQAT6AFRBPHcWgAAAABJRU5ErkJggg==);
            width: 100%;
            height: 12px;
            position: absolute;
            left: 0;
            bottom: -12px;
            z-index: 1;
        }

        .navbar {
            background: transparent;
            margin-bottom: 0px;
            border-radius: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            justify-content: left;
            min-height: auto;

            #search {
                position: absolute;
                z-index: 100;

                @media only screen and (min-width: 1200px) {
                    display: none !important;
                }
            }
    
            .navbar-header {
                .navbar-brand {
                    padding: 5px 0;
                    height: auto;
                    margin-top: -9px;

                    @media only screen and (max-width: 767.98px) {
                        padding: 4px 0;
                        margin-top: 0;
                        width: 78%;
                        float: left;
                        text-align: center;
                    }

                    @media only screen and (max-width: 990px) {
                        margin-top: 0;
                    }
    
                    img {
                        width: 130px;
    
                        @media only screen and (max-width : 768px) {
                            width: 68px;
                            margin: 0 auto;
                            vertical-align: middle;
                        }
                    }
                }

                .header-search {
                    width: 27px;
                    height: 36px;
                    border: none;
                    background: $white url("../../../images/icon-search.png") no-repeat center;
                    background-size: 18px;

                    @media only screen and (max-width: 990px) {
                        float: right !important;
                    }
                }
    
                .navbar-toggle {
                    border-color: $primaryColor2;
                    float: left;
                    margin-right: 0px;
                    padding: 8px 10px;

                    @media only screen and (max-width: 767.98px) {
                        &:focus, &:hover {
                            background-color: $white;
                        }
                    }
    
                    .icon-bar {
                        background-color: $primaryColor2;
                    }
                }
            }
    
            .navbar-collapse {
                border-width: 0px;
                box-shadow: none;
                padding: 0;
    
                @media only screen and (max-width: 767.98px) {
                    width: 100%;
                    float: left !important;
                }
    
                .navbar-nav {
                    &.navbar-right {
                        margin-right: 0;
                    }

                    @media only screen and (max-width: 767.98px) {
                        margin: 0;
                    }
                }
    
                ul li {
                    margin-bottom: 0px;
    
                    @media only screen and (min-width: 979.98px) {
                        &.current {
                            &::before {
                                content: "";
                                width: 100%;
                                position: absolute;
                                bottom: 0px;
                                left: 0;
                                height: 3px;
                                background: $primaryColor2;
                                z-index: 10001;
                            }
                        }

                        &:hover {
                            &::before {
                                content: "";
                                width: 100%;
                                position: absolute;
                                bottom: 0px;
                                left: 0;
                                height: 3px;
                                background: $primaryColor2;
                                z-index: 10001;
                            }
                        }
                    }
    
                    a {
                        padding: 39px 12px;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-family: $firaSansCondensedBold;
                        color: $primaryColor2;
                        text-shadow: 0.2px 0.2px 0.2px $primaryColor2;

                        &:focus, &:hover {
                            background: transparent;
                        }
    
                        @media only screen and (max-width: 768px) {
                            padding: 10px;
                            font-size: 15px;
                            border-bottom: 1px dotted $geyser;
                        }
                    }

                    &.open {
                        a {
                            &:focus, &:hover {
                                background: transparent;
                            }
                        }
                    }

                    &.dropdown {
                        @media only screen and (min-width: 979.98px) {
                            &:hover {
                                .dropdown-menu {
                                    display: block;
                                }
                            }
                        }

                        ul.dropdown-menu {
                            border: none;
                            padding: 0 15px;
                            min-width: 200px;
                            background: $white;

                            @media only screen and (max-width: 767.98px) {
                                padding: 0 10px 0 30px;
                                min-width: 100%;
                            }
    
                            li {
                                &::before {
                                    content: none;
                                }

                                @media only screen and (min-width: 979.98px) {
                                    border-bottom: 1px dotted $geyser;
                                }

                                &.last {
                                    border-bottom: none;
                                }
    
                                a {
                                    padding: 10px 0;
                                }
                            }
                        }
                    }
                }

                .navbar-form {
                    margin: 0;
                    padding: 0;

                    .form-control {
                        height: 30px;
                        border: none;
                        margin: 7px 0;
                        border-radius: 12px;
                        width: 180px;
                        font-size: 15px;

                        @media only screen and (max-width: 768px) {
                            width: 100%;
                        }
                    }
                }
            }

            @media only screen and (max-width: 990px) {
                .navbar-header {
                    float: none;
                }

                .navbar-toggle {
                    display: block;
                }

                .navbar-collapse {
                    width: 100%;

                    &.collapse {
                        display: none !important;

                        &.in {
                            display: block !important;
                            max-height: max-content;
                        }
                    }

                    .navbar-nav {
                        float: none!important;
    
                        &>li {
                            float: none;

                            a {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#nav {
    &.navbar-fixed-top {
        background-color: $white;

        .nav-container .navbar {
            .navbar-header .navbar-brand {
                padding: 5px 0;
                margin-top: 0;

                img {
                    width: 68px;
                }
            }

            .navbar-collapse {
                ul li a {
                    padding: 20px 15px;

                    @media only screen and (max-width: 767.98px) {
                        padding: 10px;
                    }
                }
            }
        }
    }
}