@font-face {
    font-family: "FiraSansCondensed Bold";
    src: url("fonts/FiraSansCondensed-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "FiraSansCondensed Regular";
    src: url("fonts/FiraSansCondensed-Regular.ttf");
    font-display: swap;
}

$firaSansCondensedBold: 'FiraSansCondensed Bold', sans-serif;
$firaSansCondensedRegular: 'FiraSansCondensed Regular', sans-serif;
$arial: Arial, Helvetica, sans-serif;

$white: #ffffff;
$black: #000000;
$primaryColor: #211e1f;
$primaryColor2: #115b87;
$mercury: #e2e2e2;
$mineShaft: #222222;
$gallery: #ededed;
$gray94: #F9F9F9;
$gray: #cccccc;

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

body {
    font-family: $arial;
    font-size: 16px;
    color: $black;
    padding: 0;
    margin: 0;
    line-height: 1.7;

    a {
        text-decoration: none;
        color: $primaryColor2;
    }
}

.wrapper-container {
    max-width: 620px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-md-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.col-xs-6 {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    margin: 0 0 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    line-height: 1.4;
    font-family: $firaSansCondensedBold;
}

article[role=article] {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 15px
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/*
-----------------------------------
    Menu
-----------------------------------
*/
nav {
    background-color: $white;
    height: 65px;
    position: relative;

    &::before {
        content: "";
        background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMBAMAAABRpcpkAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMGAhQQCyEd++8AAAAUSURBVAjXY1AAQgMgdABCCBAAQQAT6AFRBPHcWgAAAABJRU5ErkJggg==);
        width: 100%;
        height: 12px;
        position: absolute;
        left: 0;
        bottom: -12px;
        z-index: 1;
    }
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
	padding-left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: $primaryColor2;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    span:first-child {
        transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: $white;
    }

    input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    input:checked~ul {
        transform: none;
    }

    .navbar-brand {
        position: absolute;
        right: 20px;
        top: -10px;

        amp-img {
            width: 50px;
        }
    }

    ul.navbar-nav {
        position: absolute;
        width: 80%;
        height: auto;
        box-shadow: 0 0 10px #85888C;
        margin: -25px 0 0 -25px;
        padding: 25px;
        padding-top: 65px;
        background-color: $primaryColor2;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    
        li {
            padding: 3px 0;
            transition-delay: 2s;
            list-style: none;
    
            &.dropdown {
                padding-bottom: 0;
            }
    
            a {
                font-family: $firaSansCondensedBold;
                text-transform: uppercase;
                color: $white;
                font-size: 15px;
            }
    
            ul li {
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}

/*
-----------------------------------
    Article
-----------------------------------
*/
article {
    h1 {
        font-size: 32px;
        line-height: 40px;
        margin: 0 0 27px 0;
        color: $primaryColor2;
        font-family: $arial;
    }

    .article-content {
        div[style="margin-left:30px"], div[style="margin-left:60px"] {
            display: list-item;
            list-style-type: square;
        }

        .table-of-contents-item {
            font-size: 15px;
        }

        h2 {
            font-size: 28px;
            margin-bottom: 18px;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 18px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $arial;
        }

        ol,
        ul {
            padding-left: 5px;
            margin-bottom: 15px;
            margin-left: 15px
        }

        ol li,
        ul li {
            margin-bottom: .5em;
            line-height: 24px
        }

        hr {
            border-top: 1px solid $gray;
        }

        table {
            width: 100%;
            margin-bottom: 14px;
            border-spacing: 0;
            border-collapse: collapse;

            th, td {
                padding: 10px;
            }
        }

        table, th, td {
            border: 1px solid $gray;
        }

        a {
            color: $primaryColor2;
        }

        blockquote {
            font-size: 15px;
            border-left: 5px solid $primaryColor2;
            padding: 10px 20px;
            margin: 10px 0 20px 0;
            background: #efefef;

            p {
                margin-bottom: 0;
            }
        }
    }

    .tags {
        display: flex;
        margin: 20px 0 5px;
        font-size: 12px;

        ul {
            padding: 0;
            margin-left: 0;
            margin-bottom: 10px;

            li {
                margin-bottom: 0px;
                list-style-type: none;
                display: inline-block;
                
                span {
                    background-color: $mineShaft;
                    padding: 5px 8px;
                    color: $white;
                    display: block;
                    line-height: 16px;
                    float: left;
                    height: 25px;
                }

                a {
                    display: block;
                    float: left;
                    border: 1px solid $gallery;
                    margin-left: 4px;
                    line-height: 15px;
                    padding: 5px 8px;
                    height: 25px;
                }
            }
        }
    }

    .rating-share-container {
        padding: 10px 0 0;
        margin: 10px 0;
    }

    .related-news {
        h3 {
            position: relative;
            font-size: 28px;
            color: $primaryColor2;
    
            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 70%;
                height: 3px;
                background: $primaryColor2;
            }
        }
    
        .row {
            display: inline-block;

            .related-wrapper {
                border: 2px solid $primaryColor2;
                margin-bottom: 20px;
    
                .img-thumbnail {
                    border-radius: 0px;
                    padding: 0px;
                    border: none;
                    width: 100%;
                    height: auto;
                    transition: 0.6s ease;
                    padding: 0;
                    border: none;
                }
        
                a.related-title {
                    margin: 12px 0px;
                    padding: 10px 10px 3px;
                    font-size: 22px;
                    line-height: 30px;
                    max-height: max-content;
                    height: auto;
                    color: $primaryColor2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    font-family: $firaSansCondensedBold;
    
                    &:hover {
                        text-decoration: none;
                    }
                }
    
                p {
                    padding: 0 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    font-size: 16px;
                    line-height: 25px;
                    min-height: 75px;
                    font-family: $firaSansCondensedRegular;
                }
            }
        }
    }
    
    #list-comments {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    
        &>h4 {
            font-size: 28px;
            position: relative;
            color: $primaryColor2;
    
            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 70%;
                height: 3px;
                background: $primaryColor2;
            }
        }
    
        .media-list {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
    
            .media {
                border-top: 1px dotted $gallery;
                margin-top: 10px;
                padding-top: 10px;
    
                &.first {
                    border-top: none;
                }
    
                .media-body,
                .media-left,
                .media-right {
                    display: table-cell;
                    vertical-align: top;
                }
    
                .media-left {
                    padding-right: 10px;
    
                    amp-img {
                        width: 50px;
                    }
                }
    
                .media-body {
                    h5 {
                        font-weight: 700;
                        font-size: 16px;
                        margin-bottom: 2px;
                    }
    
                    .comment-container {
                        font-size: 15px;
                    }
    
                    a.comment-reply-link {
                        font-size: 14px;
                        color: $mineShaft;
                        text-decoration: underline;
                    }
                } 
            }
        }
    }
}

/*
-----------------------------------
    Fotter
-----------------------------------
*/
footer {
    padding-top: 30px;
    position: relative;
    background-color: $primaryColor2;
    color: $white;

    &:after {
        content : "";
        background-image: url("../../assets/images/background-footer.jpg");
        background-size: cover;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    h3.text-uppercase {
        font-size: 26px;
        margin: 0 0 15px;
        line-height: 1.4;
        font-weight: 500;

        @media (max-width: 767.98px) {
            margin-top: 30px;
        }
    }

    .footer-top {
        .footer-top-col-1 amp-img {
            max-width: 65%;
            margin: 0 auto;
        }

        .about-us {
            padding-left: 15px;

            li {
                margin-bottom: .5em;

                a {
                    color: $white;
                }
            }
        }

        .footer-company {
            padding-left: 0px;

            li {
                list-style: none;
                margin-bottom: .5em;

                i {
                    color: $white;
                }
            }
        }
    }

    .footer-middle {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid $gray94;

        .footer-text-wrap {
            p {
                text-align: justify;
                margin-bottom: 5px;
            }
        }

        .td-social-icon-wrap {
            display: inline-block;
            margin: 5px 5px 5px 0;
            
            a {
                color: $white;

                i {
                    font-size: 14px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: 1px solid $white;
                    position: relative;
                    color: $white;
                }
            }
        }
    }

    .keyword {
        padding-left: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border: 1px solid $white;
            margin: 0 0 10px 0;
            padding: 0 10px;

            a {
                color: $white;
            }
        }
    }

    .copyright {
        height: 45px;
        line-height: 30px;
        color: $white;
        border-top: 1px solid $gray94;
        margin-top: 8px;
        padding-top: 8px;

        p, a {
            color: $white;
            font-size: 15px;
            margin-bottom: 0;

            @media (max-width: 767.98px) {
                font-size: 13px;
            }
        }
    }

    .event-footer {
        margin-top: 20px;

        .event-footer-item {
            h6 {
                margin-bottom: 10px;
                font-size: 15px;

                a {
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    .td-scroll-up {
        cursor: pointer;
        position: fixed;
        bottom: 56px;
        right: 15px;
        width: 35px;
        height: 35px;
        background-color: $white;
        z-index: 100;
        border: none;
        padding: 0;
    
        i {
            position: relative;
            color: $primaryColor2;
            font-size: 20px;
            display: block;
            text-align: center;
            width: 35px;
            top: 0;
            left: 1px;
        }
    }
    
    .floating {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: $primaryColor2;
    
        .inside {
            .call-now,
            .chat-us {
                float: left;
                border-right: 1px dotted $mercury;
                vertical-align: middle;
                color: $white;
                text-align: center;
                padding: 10px 0;
                position: relative;
                font-size: 16px;
    
                div {
                    text-align: center;
                    line-height: 24px;
                    position: relative;
    
                    i {
                        position: absolute;
                        font-size: 25px;
                        top: 12px;
                        left: 15px;
                    }
    
                    span, strong {
                        display: block;
                    }
                }
            }
    
            .chat-us {
                border-right: none;
            }
        }
    }
}

/*
-----------------------------------
    Breadcrumbs
-----------------------------------
*/
.breadcrumbs {
    clear: both;
    padding: 0 15px;
    margin: 0 auto;

    #wo-breadcrumbs {
        padding: 25px 0 15px;

        li {
            margin-bottom: 0em;
            list-style: none;
            display: inline-block;

            &::before {
                content: "/\A0";
                padding: 0 5px;
                color: $mercury;
            }

            &:first-child {
                &::before {
                    content: none;
                }
            }

            a {
                color: $black;
            }
        }
    }
}

/*
-----------------------------------
    Contact sidebar
-----------------------------------
*/
.hotline {
    position: fixed;
    bottom: 100px;
    right: 10px;
    text-align: center;
    background-color: $white;
    color: $white;
    z-index: 100;
    font-family: $firaSansCondensedBold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px;
    font-weight: bold;
    border-radius: 30px;

    .inner > a {
        display: inline-block;
        font-size: 21px;
        font-weight: 700;
        color: $primaryColor2;
        background: url(../../../images/icon-phone.png) no-repeat 17px center;
        background-size: 25px;
        position: relative;
        border: 1px solid $primaryColor2;
        border-radius: 40px;
        padding: 3px 19px 3px 50px;
        -webkit-background-clip: text;
        -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite;

        .phonering-alo-ph-img-circle {
            width: 25px;
            height: 25px;
            top: 9px;
            left: 16px;
            position: absolute;
            background: url(../../../images/icon-phone.png) no-repeat 0px center;
            -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            background-size: 25px;
        }
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform:rotate(0) scale(.5) skew(1deg);
        -webkit-opacity:.1
    }

    30% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        -webkit-opacity:.5
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        -webkit-opacity:.1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        opacity:.2
    }

    100% {
        -webkit-transform:rotate(0) scale(.7) skew(1deg);
        opacity:.2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform:rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg)
    }
}

.giuseart-pc-contact-bar {
    right: 10px;
    bottom: 45%;
    position: fixed;
    z-index: 100;
    margin-bottom: 0;
    padding-left: 0;

    li {
        width: 50px;
        height: 46px;
        overflow: hidden;
        margin-bottom: 0;
        list-style: none;
    }

    li a {
        display: block;
        width: 50px;
        height: 45px;
    }

    li.facebook {
        margin-bottom: 8px;
        background: url(../../../images/fb.png);
        background-size: 50px;
        background-repeat: no-repeat;
    }

    li.zalo {
        margin-bottom: 15px;
        background: url(../../../images/zl.png);
        background-position: 7px 5px;
        background-size: 38px;
        background-repeat: no-repeat;
    }
}