<div class="social-share">
    <amp-addthis width="320" height="60"  data-pub-id="ra-626f5ee3e74e3db6" data-widget-id="tkjw" data-widget-type="inline"></amp-addthis>
</div>
<div class="clearfix"></div>