{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_dashboard_index' %}

{% block main %}
    <div class="content mt-3">

        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="text-center" style="padding: 150px 0;">
                    <p style="font-size: 20px;"><b>Chào mừng bạn đến với trang quản lý của Website: {{ get_setting('siteName') }}</b></p>
                </div>
            </div>
        </div>
        <!--/.col-->

    </div>
{% endblock %}
