.contacts {
    .company {
        margin-bottom: 30px;

        h1.h1-title-contact {
            font-size: 28px;
            margin-bottom: 20px;
            color: $primaryColor2;
        }

        ul {
            padding-left: 0;

            li {
                list-style-type: none;
                margin-bottom: 12px;

                i {
                    color: $primaryColor;
                }
            }
        }
    }
}