/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: $white;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $primaryColor2;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.marquee {
    background-color: $primaryColor2;
    color: $white;
    text-shadow: 0.2px 0.2px 0.2px $white;
    font-family: $firaSansCondensedRegular;
    height: 42px;

    @media only screen and (max-width: 767.98px) {
        height: auto;
    }

    marquee {
        line-height: 42px;
        font-size: 17px;
        display: flex;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.block-service {
    font-family: $firaSansCondensedRegular;

    @media only screen and (max-width: 767.98px) {
        background-color: $white;
    }

    .p-block-service-1 {
        font-size: 17px;

        @media only screen and (max-width: 767.98px) {
            font-size: 18px;
        }
    }

    .p-block-service-2 {
        font-size: 19px;

        @media only screen and (max-width: 767.98px) {
            font-size: 22px;
        }
    }

    .p-block-service-3 {
        font-size: 21px;

        @media only screen and (max-width : 768px) {
            text-align: center;
        }
    }

    .col-md-3 {
        h1 {
            margin-top: 40px;
            font-size: 35px;
            color: $primaryColor2;
        }
    }

    .content_dv_baogia {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;

            li {
                width: 48%;
                float: left;
                background: $white;
                margin: 1%;

                a {
                    display: block;
                    padding: 10px 5px;
                    text-align: center;
                    border: 1px solid $primaryColor2;

                    &:hover {
                        text-decoration: none;

                        .img_h {
                            display: none;
                        }

                        .img_hover {
                            display: block;
                        }
                    }

                    h2 {
                        font-size: 16px;
                        margin-bottom: 20px;
                        margin-top: 0;
                        color: $primaryColor2;
                        font-weight: bold;
                    }

                    span {
                        display: block;
                        width: 55px;
                        margin: auto;
                    }

                    .img_hover {
                        display: none;
                    }
                }
            }
        }
    }

    .content_area_baogia {
        position: relative;

        .mobile {
            @media only screen and (max-width: 767.98px) {
                display: none;
            }
        }

        .content_img_baogia {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 99;
            color: $white;
            padding: 30px;
            padding-top: 100px;
            background: rgba(87, 112, 109, 0.6);

            @media only screen and (max-width: 767.98px) {
                position: relative;
                margin-top: 0;
                color: $primaryColor2;
                padding: 30px 0;
                padding-top: 30px;
                background: transparent;
            }

            @media only screen and (max-width: 767.98px) {
                padding-top: 40px;
            }

            @media only screen and (max-width: 990px) {
                padding-top: 55px;
            }

            .content_img_baogia_top {
                margin-top: -25px;

                @media only screen and (max-width: 767.98px) {
                    margin-top: 0;
                }

                h2 {
                    font-size: 28px;
                }

                p.p-block-service-1 {
                    @media only screen and (max-width: 767.98px) {
                        font-size: 18px;
                        font-family: $firaSansCondensedRegular;
                        color: $black;
                    }
                }
            }

            .content_img_banggia {
                margin-top: 40px;

                .list_baogia {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;

                    li {
                        display: inline-block;
                        width: 24%;

                        @media only screen and (max-width: 767.98px) {
                            width: 49%;
                        }

                        a {
                            background: $primaryColor2;
                            color: $white;
                            margin: 0 5px;
                            padding: 20px 5px;
                            display: block;
                            overflow: hidden;
                            border-radius: 10px;
                            text-align: center;

                            @media only screen and (max-width: 767.98px) {
                                padding: 20px 5px 20px 10px;
                                text-align: left;
                            }

                            &:hover {
                                text-decoration: none;
                            }

                            span {
                                display: inline-block;
                                font-weight: bold;
                            }

                            .baogia_img {
                                width: 40px;
                                position: relative;

                                @media only screen and (max-width : 768px) {
                                    width: 38px;
                                }

                                img {
                                    position: absolute;
                                    top: -32px;
                                    left: 0;
                                    width: 30px;
                                }
                            }

                            .text-bg {
                                text-transform: uppercase;
                                text-align: left;
                                font-size: 14px;

                                @media only screen and (max-width: 767.98px) {
                                    font-size: 13px;
                                }

                                @media only screen and (max-width: 990px) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrapper-container-item {
    &:nth-child(2n) {
        background-color: #ebebeb;
    }
}

.scrtabs-tab-container {
    margin-bottom: 25px;
    position: relative;
    padding: 0 10px;

    @media only screen and (max-width: 767.98px) {
        margin: 0 auto 25px;
    }

    .scrtabs-tab-scroll-arrow {
        cursor: pointer;
        height: 18px;
        overflow: hidden;
        position: absolute;
        width: 15px;
        top: 11px;
        border: none;
        background: none;

        &.scrtabs-tab-scroll-arrow-left {
            left: -5px;

            &:before {
                background-color: $primaryColor2;
                content: "";
                height: 17px;
                left: 5px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
            }

            &:after {
                background-color: white;
                content: "";
                height: 17px;
                left: 8px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
            }
        }

        &.scrtabs-tab-scroll-arrow-right {
            right: -5px;

            &:before {
                background-color: $primaryColor2;
                content: "";
                height: 17px;
                left: 5px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
                left: auto;
                right: 5px;
            }

            &:after {
                background-color: white;
                content: "";
                height: 17px;
                left: 8px;
                position: absolute;
                top: 0;
                transform: rotate(45deg);
                width: 17px;
                left: auto;
                right: 8px;
            }
        }
    }
}

.nav-tabs-sub-cat {
    text-align: center;
    border-bottom: none;

    @media only screen and (max-width: 767.98px) {
        display: flex;
    }

    li {
        float: none;
        display: inline-block;

        @media only screen and (max-width: 767.98px) {
            display: inline-flex;
            margin-right: 5px;
        }

        a {
            border: 1px solid $primaryColor2;
            border-bottom-color: $primaryColor2;
            line-height: 20px;
            border-radius: 5px;
            color: $primaryColor2;
            font-family: $firaSansCondensedBold;
            font-size: 17px;

            &:hover {
                background-color: $primaryColor2;
                color: $white;
            }
        }

        &.active {
            a,
            a:hover,
            a:focus {
                border: 1px solid $primaryColor2;
                border-bottom-color: $primaryColor2;
                background-color: $primaryColor2;
                color: $white;
            }
        }
    }
}

.view-all-category {
    margin: 15px 0 30px;

    @media only screen and (max-width: 767.98px) {
        margin: 15px 0 40px;
    }

    a {
        padding: 12px 25px;
        background: $primaryColor2;
        border-radius: 5px;
        color: $white;
        font-family: $firaSansCondensedRegular;
        font-size: 17px;
    }
}

.testimonial {
    padding: 35px 0;
    position: relative;
    min-height: auto;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    @media only screen and (max-width: 767.98px) {
        &.section {
            display: block;
        }
    }

    .section-bg {
        background-image: url('../../images/background-2.jpg');
        opacity: 1;
    }

    .bg-fill {
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: 50% 50%;
    }

    .fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        right: 0;
        bottom: 0;
        padding: 0!important;
        margin: 0!important;
    }

    .col-inner {
        .title-section-2 {
            font-family: $firaSansCondensedBold;
            color: $white;
            font-size: 30px;
        }

        .title-section-3 {
            font-family: $firaSansCondensedBold;
            color: $white;
            font-size: 17px;
            margin-bottom: 30px;
        }
    }

    #image-gallery-3 {
        .testimonial-box {
            background-color: $white;
            font-family: $firaSansCondensedBold;

            .circle {
                padding: 20px;

                @media only screen and (max-width : 768px) {
                    padding: 20px;
                }

                .testimonial-meta {
                    line-height: 50px;
                    color: $primaryColor2;
                    font-size: 20px;
                }

                .testimonial-img {
                    text-align: right;

                    img {
                        border-radius: 50%;
                    }
                }
            }

            .icon-box-text {
                .testimonial-text {
                    margin: 0 15px;
                    padding: 20px 0;
                    border-top: 1px dotted $gray;

                    p {
                        color: $primaryColor2;
                        font-style: italic;
                        text-align: center;
                        min-height: 120px;
                        margin-bottom: 0;

                        @media only screen and (max-width : 768px) {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    .lSSlideOuter .lSPager.lSpg > li a {
        border: 2px solid $white;
        background-color: $white;
        width: 15px;
        height: 15px;
    }

    .lSSlideOuter .lSPager.lSpg > li.active a {
        background-color: $primaryColor2;
    }
}