/* Homepage
------------------------------------------------------------------------- */
#myCarousel {
    @media only screen and (max-width : 768px) {
        width: 100%;
    }

    .carousel-indicators {
        margin-bottom: 0;
        bottom: 5px;

        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
        }

        li {
            width: 15px;
            height: 15px;
            background-color: $white;
            margin: 0;

            @media only screen and (max-width : 768px) {
                width: 10px;
                height: 10px;
            }

            &.active {
                width: 15px;
                height: 15px;
                background-color: $primaryColor2;

                @media only screen and (max-width : 768px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    
    .carousel-inner {
        .item {
            img {
                width: 100%;

                /* Small Devices, Tablets */
                @media only screen and (max-width : 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .carousel-control {
        &.left {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-left.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    left: 40%;
                }

                &::before {
                    content: "";
                }
            }
        }

        &.right {
            .glyphicon {
                width: 50px;
                height: 130px;
                top: 40%;
                background: url("../../../images/arrow-right.png") no-repeat;

                @media only screen and (max-width : 768px) {
                    width: 45px;
                    height: 95px;
                    top: 30%;
                    background-size: 70%;
                    right: 20%;;
                }

                &::before {
                    content: "";
                }
            }
        }
    }
}

.marquee {
    background-color: $primaryColor2;
    color: $white;
    text-shadow: 0.2px 0.2px 0.2px $white;
    font-family: $firaSansCondensedRegular;
    height: 42px;

    marquee {
        line-height: 42px;
        font-size: 17px;
        display: flex;

        a {
            color: $white;
            text-decoration: underline;
        }
    }
}

.block-service {
    font-family: $firaSansCondensedRegular;

    .p-block-service-1 {
        font-size: 17px;
    }

    .p-block-service-2 {
        font-size: 19px;
    }

    .p-block-service-3 {
        font-size: 21px;
    }

    .col-md-3 {
        h1 {
            margin-top: 40px;
            font-size: 35px;
            color: $primaryColor2;
        }
    }

    .content_dv_baogia {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;

            li {
                width: 48%;
                float: left;
                background: $white;
                margin: 1%;

                a {
                    display: block;
                    padding: 5px;
                    text-align: center;
                    border: 1px solid $primaryColor2;

                    &:hover {
                        text-decoration: none;

                        .img_h {
                            display: none;
                        }

                        .img_hover {
                            display: block;
                        }
                    }

                    h2 {
                        font-size: 16px;
                        margin-bottom: 35px;
                        margin-top: 0;
                        color: $primaryColor2;
                        font-weight: bold;
                    }

                    span {
                        display: block;
                        width: 55px;
                        margin: auto;
                    }

                    .img_hover {
                        display: none;
                    }
                }
            }
        }
    }

    .content_area_baogia {
        position: relative;

        @media only screen and (max-width: 767.98px) {
            display: none;
        }

        .content_img_baogia {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 99;
            color: $white;
            padding: 30px;
            padding-top: 100px;
            background: rgba(87, 112, 109, 0.6);

            .content_img_baogia_top {
                margin-top: -25px;

                h2 {
                    font-size: 28px;
                }
            }

            .content_img_banggia {
                margin-top: 40px;

                .list_baogia {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;

                    li {
                        display: inline-block;
                        width: 24%;

                        a {
                            background: $primaryColor2;
                            color: $white;
                            margin: 0 5px;
                            padding: 20px 5px;
                            display: block;
                            overflow: hidden;
                            border-radius: 10px;
                            text-align: center;

                            &:hover {
                                text-decoration: none;
                            }

                            span {
                                display: inline-block;
                                font-weight: bold;
                            }

                            .baogia_img {
                                width: 40px;
                                position: relative;

                                img {
                                    position: absolute;
                                    top: -32px;
                                    left: 0;
                                    width: 30px;
                                }
                            }

                            .text-bg {
                                text-transform: uppercase;
                                text-align: left;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrapper-container-item {
    &:nth-child(2n+1) {
        background-color: #ebebeb;
    }
}

.scrtabs-tab-container {
    margin-bottom: 25px;
}

.nav-tabs-sub-cat {
    text-align: center;
    border-bottom: none;

    li {
        float: none;
        display: inline-block;

        a {
            border: 1px solid $primaryColor2;
            border-bottom-color: $primaryColor2;
            line-height: 20px;
            border-radius: 5px;
            color: $primaryColor2;
            font-weight: bold;

            &:hover {
                background-color: $primaryColor2;
                color: $white;
            }
        }

        &.active {
            a,
            a:hover,
            a:focus {
                border: 1px solid $primaryColor2;
                border-bottom-color: $primaryColor2;
                background-color: $primaryColor2;
                color: $white;
            }
        }
    }
}