/* News
------------------------------------------------------------------------- */
.category-list-items {
    padding-top: 50px;

    @media only screen and (max-width: 767.98px) {
        padding-top: 35px;
    }

    .description {
        margin-bottom: 30px;
    }
}

/* Post detail
------------------------------------------------------------------------- */
.wrapper-post-container {
    .post-container {
        margin-top: 20px;

        .news {
            h1 {
                font-size: 35px;
                line-height: 45px;
                margin-bottom: 27px;
                color: $primaryColor2;
                font-family: $arial;
            }

            h2 {
                font-family: $arial;
                font-size: 30px;
            }
        
            h3 {
                font-family: $arial;
                font-size: 25px;
            }

            h4 {
                font-family: $arial;
                font-size: 22px;
            }
        
            .news-container {
                div[name="tableOfContents"] {
                    margin-bottom: 6px;
                }

                div[style="margin-left:30px"] {
                    display: list-item;
                    list-style-type: disc;
                }

                hr {
                    margin-top: 18px;
                    margin-bottom: 18px;
                }

                ul, ol {
                    padding-left: 15px;
                    margin-bottom: 15px;
                    margin-left: 15px;
        
                    li {
                        margin-bottom: 0.3 em;
                    }
                }
        
                img {
                    height: auto !important;
                }
        
                a {
                    color: $primaryColor2;
                }
        
                blockquote {
                    font-size: 16px;
                    border-left: 5px solid $primaryColor;
                    font-style: italic;
                }

                table {
                    width: 100%;
                    margin-bottom: 14px;
        
                    th, td {
                        padding: 15px;
                    }
                }
        
                table, th, td {
                    border: 1px solid #ccc;
                }
            }
        }
    }
}

/* Tag
------------------------------------------------------------------------- */
.tags {
    display: flex;
    margin: 20px 0 5px;
    font-size: 12px;

    ul {
        padding: 0;

        li {
            margin-bottom: 0px;
            list-style-type: none;
            display: inline-block;
            
            span {
                background-color: $mineShaft;
                padding: 5px 8px;
                color: $white;
                display: block;
                line-height: 16px;
                float: left;
                height: 25px;
            }

            a {
                display: block;
                float: left;
                border: 1px solid $gallery;
                margin-left: 4px;
                line-height: 15px;
                padding: 5px 8px;
                height: 25px;

                &:hover {
                    text-decoration: none;
                    border: 1px solid $primaryColor;
                    background: $primaryColor;
                    color: $white;
                }
            }
        }
    }
}

/* News Share
------------------------------------------------------------------------- */
.rating-share-container {
    border-top: 1px solid $gallery;
    border-bottom: 1px solid $gallery;
    padding: 10px 0;
    margin: 10px 0 20px;

    .rating-container {
        .rating {
            .star-empty {
                font-family: "Font Awesome 5 Free";
    
                &:before {
                    content: "\F005";
                }
            }
            .star-full {
                font-family: "Font Awesome 5 Free";
            }
        }

        a#rating {
            display: inline-block;
            font-size: 20px;
            text-decoration: none;

            .rating-title {
                display: none;
            }
        }
    }

    .social-share {
        .social-share-label {
            line-height: 32px;
            float: left;
            margin-right: 15px;
            vertical-align: middle;
            font-weight: bold;
            margin-top: 3px;
            text-decoration: underline;
        }

        .at-share-tbx-element .at-share-btn {
            margin: 0 5px 0px 0;
        }

        .addthis_inline_share_toolbox {
            display: inline-block;
            margin-top: 5px;
        }
    }
}

#form-rating-container {
    .rating {
        .star,
        .star-full {
            font-family: "Font Awesome 5 Free";

            &:before {
                content: "\F005";
            }
        }
    }
    .rating-message {
        color: $primaryColor;
        margin: 0;
    }
}

/* News Related
------------------------------------------------------------------------- */
.related-news {
    h3 {
        position: relative;
        color: $primaryColor2;

        &:before {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 250px;
            height: 3px;
            background: $primaryColor2;
        }
    }

    .row {
        .related-wrapper {
            border: 2px solid $primaryColor2;
            margin-bottom: 30px;

            .img-thumbnail {
                border-radius: 0px;
                padding: 0px;
                border: none;
                width: 100%;
                height: 150px;
                transition: 0.6s ease;
                padding: 0;
                border: none;

                @media only screen and (max-width: 767.98px) {
                    height: auto;
                }
            }
    
            a.related-title {
                margin: 12px 0px;
                padding: 0 8px;
                font-size: 18px;
                line-height: 25px;
                height: 47px;
                max-height: 47px;
                color: $primaryColor2;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-family: $firaSansCondensedBold;

                &:hover {
                    text-decoration: none;
                }

                @media only screen and (max-width: 767.98px) {
                    font-size: 22px;
                    line-height: 30px;
                    padding: 10px 10px 5px;
                    max-height: max-content;
                    height: auto;
                }
            }

            p {
                padding: 0 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                font-size: 16px;
                line-height: 25px;
                min-height: 75px;
                font-family: $firaSansCondensedRegular;

                @media only screen and (max-width: 767.98px) {
                    padding: 0px 10px;
                }
            }
        }
    }
}

/* Comment
------------------------------------------------------------------------- */
.page {
    #list-comments {
        margin-top: 0px;
    }
}

#list-comments {
    margin-top: 20px;
    margin-bottom: 20px;

    & > h4 {
        font-size: 28px;
        position: relative;
        color: $primaryColor2;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 250px;
            height: 3px;
            background: $primaryColor2;
        }
    }

    .media-list {
        .media {
            border-top: 1px dotted $gallery;
            margin-top: 10px;
            padding-top: 10px;

            &.first {
                border-top: none;
            }
    
            .media-left {
                @media only screen and (max-width: 767.98px) {
                    margin-right: 5px;
                }
    
                img {
                    width: 65px;
                    max-width: none;
    
                    @media only screen and (max-width: 767.98px) {
                        width: 50px;
                    }
                }
            }
    
            .media-body {
                h5 {
                    font-weight: 700;
                    font-size: 16px;
                    margin-bottom: 2px;
                }
    
                .comment-container {
                    font-size: 15px;
                }
    
                .comment-container p {
                    font-size: 14px;
                    margin-bottom: 0px;
                }
    
                a.comment-reply-link {
                    font-size: 14px;
                    color: $mineShaft;
                    text-decoration: underline;
                }
            }
        }
    }
}

#respond {
    margin-top: 30px;

    .comment-reply-title {
        position: relative;
        color: $primaryColor2;
        font-size: 28px;

        &:before {
            position: absolute;
            bottom: -3px;
            left: 0;
            content: "";
            width: 250px;
            height: 3px;
            background: $primaryColor2;
        }
    }

    #form-comment {
        .form-group {
            
        }
    }
}