.form-group {
    label.control-label {
        margin-bottom: 5px;
        font-weight: normal;
        font-size: 16px;
        font-family: $firaSansCondensedBold;

        &.required {
            &::after {
                content: "(*)";
                color: red;
                margin-left: 5px;
                font-size: 13px;
            }
        }
    }

    .form-control, input {
        border: 1px solid $gray;
        border-radius: 0px;
        height: 38px;
        padding: 5px 15px;
        width: 350px;
        box-shadow: none;

        &.error {
            border: 1px solid $red;
        }

        @media only screen and (max-width: 767.98px) {
            width: 100%;
        }
    }

    label.error {
        display: none !important;
    }

    textarea.form-control {
        height: 150px;
        width: 600px;

        @media only screen and (max-width: 767.98px) {
            width: 100%;
        }
    }

    button.btn {
        background: $primaryColor2;
        border-width: 0px;
        width: 100px;
        text-transform: uppercase;
        border-radius: 0px;
        font-size: 16px;
        font-family: $firaSansCondensedBold
    }
}

.alert {
    padding: 0;
}

.alert-success {
    color: $primaryColor2;
}

.alert-success {
    color: $red;
}

#form-search {
    .form-group {
        margin: 0;
        display: flex;

        .search-field {
            width: 100%;
            margin: 5px 0;
            height: 32px;
            padding-right: 30px;
            border-right: none;
        }

        button[type="submit"] {
            margin-top: 5px;
            border: 1px solid #cccccc;
            text-indent: -999px;
            overflow: hidden;
            width: 36px;
            height: 32px;
            padding: 0;
            background: $white url("../../../images/icon-search.png") no-repeat center;
            background-size: 16px;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
}